<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- localhost8080 -->
<h1 class="article"> Exchange rates </h1>

<div class="container">
    <p class="article">based on NBP API</p>
    <!-- klasy article i yellow sa stworzone w pliku style.css, ich kolejnosc ma znaczenie, drugi styl jest ważniejszy -->
    <p class="article yellow">PLN/EUR | PLN/USD</p>

    <p>Zwykly paragraf</p>

    <p id="super-important"> Jestem super programista :) </p>
</div>

</body>
</html>