<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- localhost8080 -->
<h1 class="article"> Exchange rates </h1>

<div class="container">
    <p class="article">based on NBP API</p>
    <!-- klasy article i yellow sa stworzone w pliku style.css, ich kolejnosc ma znaczenie, drugi styl jest ważniejszy -->
    <p class="article yellow">PLN/EUR | PLN/USD</p>

    <p> Be up to date with exchange rates </p>          <!-- zwykły paragraf -->

    <p id="super-important"> Click below link to to check current rates: </p>

    <a href="/nbp" class="btn btn-primary">NBP</a>

</div>

</body>
</html>